In [1]:
import pandas as pd

In [2]:
step=36

In [3]:
type=1

In [4]:
amount=12660.25

In [5]:
oldbalanceOrg=106731.00

In [8]:
newbalanceOrig=94070.75

In [9]:
oldbalanceDest=13600.49

In [10]:
newbalanceDest=26260.74

In [11]:
isFlaggedFraud=0

In [12]:
columns = ['step','type','amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest','isFlaggedFraud']

In [29]:
details = pd.DataFrame(['36','1','12660.25','106731.00','94070.75','13600.49','26260.74','0'],columns=columns)

ValueError: Shape of passed values is (8, 1), indices imply (8, 8)

In [28]:
details

           0
0         36
1          1
2   12660.25
3  106731.00
4   94070.75
5   13600.49
6   26260.74
7          0

In [31]:
data = {
      'step':[36],
      'type':[1],
      'amount':[12660.25],
      'oldbalanceOrg':[106731.00],
      'newbalanceOrig':[94070.75],
      'oldbalanceDest':[13600.49],
      'newbalanceDest':[26260.74],
      'isFlaggedFraud':[0]
       }

In [32]:
details = pd.DataFrame(data,columns=columns)

In [33]:
details

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,36,1,12660.25,106731.0,94070.75,13600.49,26260.74,0